DEBUG=True

SECRET_KEY=l$+$nib0$*bn=sivlol48w2!owf(7$9&_(kd-ou7m=+x40mcrs

ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=clinic_db
DB_USER=clinic_user
DB_PASSWORD=clinic_password
DB_HOST=postgres
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379